.notification {
  background-color: white;
  background-color: white;
  color: #6a7bd5;
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  bottom: 0;
}